#jumbotron-welcome {
    background-size: cover;
}
.card-feature {
    transition: all .3s;
}
.card-feature:hover {
    box-shadow: 0px 1.5rem 2rem rgba(0, 0, 0, 0.25);
    transform: translateY(-16px);
}
.doctor-wal1 {
    right: -30px; 
    z-index: 10; 
    bottom:-4px;
    width: 35%;
}
.doctor-wal2 {
    right: 30px; 
    z-index: 0; 
    bottom: -4px;
    width: 25%;
}
@media screen and (max-width: 800px) {
    .doctor-wal1 {
        right: -30px; 
        z-index: 10; 
        bottom:-4px;
        width: 50%;
    }
    .doctor-wal2 {
        right: 30px; 
        z-index: 0; 
        bottom: -4px;
        width: 40%;
    }
}
.rect-decor {
    width: 300px;
    height: 300px;
    transform: rotate(45deg) !important;
    background-color: black;
    z-index: 100;
    border-radius: 3rem;
    position: absolute;
    right: -100px;
    bottom: 140px;
}

.rect-decor::before {
    content: '';
    position: absolute;
    width: 320px;
    height: 320px;
    top: -10px;
    left: -10px;
    bottom: -10px;
    border-radius: 3rem;
    right: -10px;
    background: linear-gradient(to right bottom, #9CB1EC, #1DD693);
}
.rect-decor::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    border-radius: 2.5rem;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
}

.live-banner {
    border-top-right-radius: 42px;
    border-bottom-right-radius: 42px;
    box-shadow: 100px 1px 100px rgba(0, 0, 0, 0.25);
}
.img-vt {
    position: absolute;
    bottom: 0;
    width: 110%;
    left: -100px;
}

.img-vt-sm {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 350px;
}

.rect-left-solid {
    background-color: rgba(255, 225, 255, 0.45);
    position: absolute;
    left: -100px;
    bottom: -70px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    transform: rotate(45deg);
}

.rect-right-border {
    background-color: rgba(255, 225, 255, 0.1);
    border: 16px solid rgba(255, 225, 255, 0.45);
    position: absolute;
    right: -100px;
    top: -50px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    transform: rotate(65deg);
}

.v-img {
    position: absolute;
    bottom: -100px;
    width: 300px;
    left: 150px;
}

.r-img {
    position: absolute;
    z-index: 5;
    bottom: -100px;
    width: 240px;
    right: 160px;   
}

@media screen and (max-width: 576px) {
    .v-img {
        position: absolute;
        bottom: -100px;
        width: 300px;
        left: 30px;
    }
    
    .r-img {
        position: absolute;
        z-index: 5;
        bottom: -100px;
        width: 240px;
        right: 30px;   
    }
}


.card-shop {
    border-radius: 16px;
    height: 230px;
}
.card-shop .card-image-top {
    background-color: #076945;
}
.card-shop .card-image-top img {
    object-fit: cover;
    transition: all .3s;
}
.card-shop .card-image-top:hover img {
    transform: scale(1.1);
    opacity: .5;
}

.card-shop .card-body {
    bottom: 0;
    left: 0;
    right: 0 !important;
    border-radius: 16px;
}
.btn-price-shop {
    background-color: #FFD720;
    border-radius: 13px;
    width: 50px;
    position: relative;
    top: -20px;
    z-index: 5;
}
.btn-cart-shop {
    background-color: #ffe571;
    border-radius: 13px;
    position: relative;
    width: 50px;
    z-index: 10;
}
.btn-view-shop {
    background-color: #1DD693;
    border-radius: 13px;
    position: relative;
    width: 50px;
    visibility: hidden;
    top: -39px;
    opacity: 0;
    transition: all .2s;
}

.buttons-shop {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}
.card-shop-p {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    left: 0;
    transition: all .2s;
    bottom: -10px;
    opacity: 0;
}
.card-body:hover .card-shop-p {
    position: relative;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    visibility: visible;
}

.card-body:hover .btn-view-shop {
    visibility: visible;
    opacity: 1;
}

.card-course {
    border-radius: 16px;
    transition: all .3s;
}

.card-course:hover {
    cursor: pointer;
    box-shadow: 0px .25rem .5rem rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.shadow-search {
    box-shadow: 0px .25rem .5rem rgba(0, 0, 0, 0.1);
}
.btn-search-article {
    width: 70px;
    height: 70px;
    position: absolute;
    right: -35px;
    top: -13px;
}

.articles-content {
    border-top-left-radius: 50rem;
    background-color: #c6d4fb;
    border-bottom-left-radius: 50rem;
}

.card-image-article {
    width: 100%;
    height: 180px;
    background-color: #076945;
}
.card-image-article img {
    transition: all .3s;
}

.card-image-article:hover img {
    transform: scale(1.1);
    opacity: .5;
}

.avatar-doctor {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    background-color: #1DD693;
}
.doctor {
    transition: all .2s;
    background-color: white;
}
.doctor:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}
.avatar-doctor img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.list-doctors {
    max-height: 500px;
    overflow-y: auto;
}
.blured-img-doctor {
    filter: blur(5px);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    top: 20px;
    left: 5px;
    opacity: .5;
}
.chatting-content {
    position: relative;
    max-height: 505px;
    min-height: 505px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}
.chatmessages {    
    width: 100%;
    max-height: 449px;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-chat {
    display: inline-block; 
    max-width: 350px; 
    min-width: 100px;
    transition: all .3s;
}
.text-chat:hover {
    background-color: rgb(241, 241, 241) !important;
    cursor: pointer;
}
.time-chat {
    bottom: 5px; 
    font-size: .65rem;
    right: 8px;
}
.dropdown-chat-toggle {
    z-index: 0;
    top: 0px;
    padding: .5rem .65rem;
    border-radius: 16px;
    opacity: 0;
    transition: all .3s;
    right: 0px;
    background-color: white;
}

.text-chat:hover .dropdown-chat-toggle {
    right: 0px;
    opacity: 1;
    background-color: rgb(241, 241, 241) !important;
}
.chat-dropdown {
    position: absolute;
    min-width: 100px;
    background-color: white;
    border-radius: 8px;
    top: 45px;
    border: 1px solid rgb(255, 255, 255);
    right: -33px;
    display: none;
}
.chat-dropdown ul {
    list-style: none;
}
.chat-dropdown ul li {
    padding: 10px 10px 10px 10px;
}

.chat-dropdown ul li#report {
    border-radius: 8px;
    background-color: rgb(255, 203, 203);
}

.arrow-up-dropdown {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
}
.dropTriangle {
    top: -17px;
}
#toggleChat {
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#chatList {
    position: relative;
}

@media screen and (max-width: 800px) {
    #chatList {
        position: absolute;
        top: 0;
        left: -1100px;
        opacity: 0;
        transition: all .3s;
    }
    .chatListActive {
        left: 0 !important;
        opacity: 1 !important;
    }
}

.close-rating {
    cursor: pointer;
}
.star-rating {
    cursor: pointer;
}

.button-close-hide {
    top: 12px;
    right: 12px;
    bottom: 0px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    visibility: hidden;
    opacity: 0;
    height: 30px;
    border-radius: 100rem;
    background-color: white;
    transition: all .3s;
    cursor: pointer;
}

.query-get-doctor {
    transition: all .3s;
}
.query-get-doctor:hover {
    background-color: #10458f !important;
}
.query-get-doctor:hover .button-close-hide {
    opacity: 1;
    visibility: visible;
}

.card-doctors {
    box-shadow: 0px 11px 11px -6px rgba(10, 10, 10, 0.1);
    position: relative;
    cursor: pointer;
    transition: all .3s;
}
.card-doctors:hover {
    transform: translateY(-3px);
    box-shadow: 0px 11px 11px -4px rgba(10, 10, 10, 0.2);

}
.img-card-doctors {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #1DD693;
}
.img-card-doctors .img {
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    right: 0;
    transition: all .3s;
    background-position: center;
    background-size: cover;
}
.img-card-doctors .img:hover {
    opacity: .5;
    transform: scale(1.1);
}
.photo-doctor {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: white;
    position: absolute;
    top: -30px;
    border: 5px solid white;
}

.card-left {
    border-radius: 5%;
    height : 520px;
}
.card-right {
    border-radius: 5%;
    height : 520px;
}
.login-form {
    border-radius: 16px;
    border-style: none;
    width: 95%;
    background-color: #F1F1F1;
}
.login-button {
    width: 95%;
    border-radius: 16px;
}
.w-90 {
    width: 95%;
}
.login-form2 {
    border-radius: 16px;
    border-style: none;
    width: 75%;
    background-color: #F1F1F1;
}