#jumbotron-welcome {
    background-size: cover;
}
.card-feature {
    transition: all .3s;
}
.card-feature:hover {
    box-shadow: 0px 1.5rem 2rem rgba(0, 0, 0, 0.25);
    transform: translateY(-16px);
}
.doctor-wal1 {
    right: -30px; 
    z-index: 10; 
    bottom:-4px;
    width: 35%;
}
.doctor-wal2 {
    right: 30px; 
    z-index: 0; 
    bottom: -4px;
    width: 25%;
}
@media screen and (max-width: 800px) {
    .doctor-wal1 {
        right: -30px; 
        z-index: 10; 
        bottom:-4px;
        width: 50%;
    }
    .doctor-wal2 {
        right: 30px; 
        z-index: 0; 
        bottom: -4px;
        width: 40%;
    }
}
.rect-decor {
    width: 300px;
    height: 300px;
    transform: rotate(45deg) !important;
    background-color: black;
    z-index: 100;
    border-radius: 3rem;
    position: absolute;
    right: -100px;
    bottom: 140px;
}

.rect-decor::before {
    content: '';
    position: absolute;
    width: 320px;
    height: 320px;
    top: -10px;
    left: -10px;
    bottom: -10px;
    border-radius: 3rem;
    right: -10px;
    background: linear-gradient(to right bottom, #9CB1EC, #1DD693);
}
.rect-decor::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    border-radius: 2.5rem;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
}

.live-banner {
    border-top-right-radius: 42px;
    border-bottom-right-radius: 42px;
    box-shadow: 100px 1px 100px rgba(0, 0, 0, 0.25);
}
.img-vt {
    position: absolute;
    bottom: 0;
    width: 110%;
    left: -100px;
}

.img-vt-sm {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 350px;
}

.rect-left-solid {
    background-color: rgba(255, 225, 255, 0.45);
    position: absolute;
    left: -100px;
    bottom: -70px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    transform: rotate(45deg);
}

.rect-right-border {
    background-color: rgba(255, 225, 255, 0.1);
    border: 16px solid rgba(255, 225, 255, 0.45);
    position: absolute;
    right: -100px;
    top: -50px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    transform: rotate(65deg);
}

.v-img {
    position: absolute;
    bottom: -100px;
    width: 300px;
    left: 150px;
}

.r-img {
    position: absolute;
    z-index: 5;
    bottom: -100px;
    width: 240px;
    right: 160px;   
}

@media screen and (max-width: 576px) {
    .v-img {
        position: absolute;
        bottom: -100px;
        width: 300px;
        left: 30px;
    }
    
    .r-img {
        position: absolute;
        z-index: 5;
        bottom: -100px;
        width: 240px;
        right: 30px;   
    }
}


.card-shop {
    border-radius: 16px;
    height: 230px;
    cursor: pointer;
}
.card-shop .card-image-top {
    background-color: #076945;
}
.card-shop .card-image-top img {
    object-fit: cover;
    transition: all .3s;
}
.card-shop .card-image-top:hover img {
    transform: scale(1.1);
    opacity: .5;
}

.card-shop .card-body {
    bottom: 0;
    left: 0;
    right: 0 !important;
    border-radius: 16px;
}
.btn-price-shop {
    background-color: #FFD720;
    border-radius: 13px;
    width: 50px;
    position: relative;
    top: -20px;
    z-index: 5;
}
.btn-cart-shop {
    background-color: #ffe571;
    border-radius: 13px;
    position: relative;
    width: 50px;
    z-index: 10;
}
.btn-view-shop {
    background-color: #1DD693;
    border-radius: 13px;
    position: relative;
    width: 50px;
    visibility: hidden;
    top: -39px;
    opacity: 0;
    transition: all .2s;
}

.buttons-shop {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}
.card-shop-p {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    left: 0;
    transition: all .2s;
    bottom: -10px;
    opacity: 0;
}
.card-body:hover .card-shop-p {
    position: relative;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    visibility: visible;
}

.card-body:hover .btn-view-shop {
    visibility: visible;
    opacity: 1;
}

.card-course {
    border-radius: 16px;
    transition: all .3s;
}

.card-course:hover {
    cursor: pointer;
    box-shadow: 0px .25rem .5rem rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.shadow-search {
    box-shadow: 0px .25rem .5rem rgba(0, 0, 0, 0.1);
}
.btn-search-article {
    width: 70px;
    height: 70px;
    position: absolute;
    right: -35px;
    top: -13px;
}

.articles-content {
    border-top-left-radius: 50rem;
    background-color: #c6d4fb;
    border-bottom-left-radius: 50rem;
}

.card-image-article {
    width: 100%;
    height: 180px;
    background-color: #076945;
}
.card-image-article img {
    transition: all .3s;
}

.card-image-article:hover img {
    transform: scale(1.1);
    opacity: .5;
}
@media screen and (max-width: 576px) {
    .card-image-article img {
        transition: all .3s;
        height: 100% !important;
        width: auto !important;
    }
    .text-card-other {
        font-size: .9rem !important;
    }
    .card-body p {
        font-size: .75rem !important;
    }
    .card-body p:nth-child(2) {
        font-size: .75rem !important;
        margin-bottom: 5px;
    }
    .card-body button {
        bottom: -2px !important;
        padding: 10px 30px;
    }
    
}
.avatar-doctor {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    background-color: #1DD693;
}
.doctor {
    transition: all .2s;
    background-color: white;
}
.doctor:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}
.avatar-doctor img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.list-doctors {
    max-height: 500px;
    overflow-y: auto;
}
.blured-img-doctor {
    filter: blur(5px);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    top: 20px;
    left: 5px;
    opacity: .5;
}
.chatting-content {
    position: relative;
    max-height: 505px;
    min-height: 505px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}
.chatmessages {    
    width: 100%;
    max-height: 449px;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-chat {
    display: inline-block; 
    max-width: 350px; 
    min-width: 100px;
    transition: all .3s;
}
.text-chat:hover {
    background-color: rgb(241, 241, 241) !important;
    cursor: pointer;
}
.time-chat {
    bottom: 5px; 
    font-size: .65rem;
    right: 8px;
}
.dropdown-chat-toggle {
    z-index: 0;
    top: 0px;
    padding: .5rem .65rem;
    border-radius: 16px;
    opacity: 0;
    transition: all .3s;
    right: 0px;
    background-color: white;
}

.text-chat:hover .dropdown-chat-toggle {
    right: 0px;
    opacity: 1;
    background-color: rgb(241, 241, 241) !important;
}
.chat-dropdown {
    position: absolute;
    min-width: 100px;
    background-color: white;
    border-radius: 8px;
    top: 45px;
    border: 1px solid rgb(255, 255, 255);
    right: -33px;
    display: none;
}
.chat-dropdown ul {
    list-style: none;
}
.chat-dropdown ul li {
    padding: 10px 10px 10px 10px;
}

.chat-dropdown ul li#report {
    border-radius: 8px;
    background-color: rgb(255, 203, 203);
}

.arrow-up-dropdown {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
}
.dropTriangle {
    top: -17px;
}
#toggleChat {
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#chatList {
    position: relative;
}

@media screen and (max-width: 800px) {
    #chatList {
        position: absolute;
        top: 0;
        left: -1100px;
        opacity: 0;
        transition: all .3s;
    }
    .chatListActive {
        left: 0 !important;
        opacity: 1 !important;
    }
}

.close-rating {
    cursor: pointer;
}
.star-rating {
    cursor: pointer;
}

.button-close-hide {
    top: 12px;
    right: 12px;
    bottom: 0px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    visibility: hidden;
    opacity: 0;
    height: 30px;
    border-radius: 100rem;
    background-color: white;
    transition: all .3s;
    cursor: pointer;
}

.query-get-doctor {
    transition: all .3s;
}
.query-get-doctor:hover {
    background-color: #10458f !important;
}
.query-get-doctor:hover .button-close-hide {
    opacity: 1;
    visibility: visible;
}

.card-doctors {
    box-shadow: 0px 11px 11px -6px rgba(10, 10, 10, 0.1);
    position: relative;
    cursor: pointer;
    transition: all .3s;
}
.card-doctors:hover {
    transform: translateY(-3px);
    box-shadow: 0px 11px 11px -4px rgba(10, 10, 10, 0.2);

}
.img-card-doctors {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #1DD693;
}
.img-card-doctors .img {
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    right: 0;
    transition: all .3s;
    background-position: center;
    background-size: cover;
}
.img-card-doctors .img:hover {
    opacity: .5;
    transform: scale(1.1);
}
.photo-doctor {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: white;
    position: absolute;
    top: -30px;
    border: 5px solid white;
}

.card-left {
    border-radius: 5%;
    height : 520px;
}
.card-right {
    border-radius: 5%;
    height : 520px;
}
.login-form {
    border-radius: 16px;
    border-style: none;
    width: 95%;
    background-color: #F1F1F1;
}
.login-button {
    width: 95%;
    border-radius: 16px;
}
.w-90 {
    width: 95%;
}
.login-form2 {
    border-radius: 16px;
    border-style: none;
    width: 75%;
    background-color: #F1F1F1;
}
.card-meet {
    position: relative;
    box-shadow: 0px .25rem .5rem rgba(0, 0, 0, 0.1);
    transition: all .3s;
}
.card-meet:hover {
    transform: translateY(-2px);
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 0.15);
}
.card-meet::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 10px;
    height: 100%;
    border-radius: 16px;
    background-color: #10458f;
}
.blue-box-rad-lg {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 100px;
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px;
}
.box-right-primary {
    height: 100%;
    width: 10%;
    top: 0;
    right: -10%;
    position: absolute;
    background-color: #1D69D6;
}
.card-profile-meet {
    border-top-left-radius: 36px;
    overflow: hidden;
    overflow-y: auto;
}
.img-profile-doctor {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 150px;
}
.image-profile-doctor {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    border-radius: 100rem;
    border: 5px solid white;
    top: -30px;
    position: relative;
    box-sizing: border-box;
}
.image-profile-doctor img {
    position: absolute;
    left: 0;
    top: 0;
}
.image-profile-doctor-meet {
    width: 60px;
    height: 60px;
    top: 1.1rem;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    border-radius: 100rem;
    border: 5px solid white;
    box-sizing: border-box;
}
.display-more-meet {
    display: none;
}
.meets-list {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 1rem;
    width: 102%;
}
.portofolio {
    height: 90px;
    background-color: #1D69D6;
}
.album {
    height: 130px;
    background-color: #1D69D6;
}
.img-portofolio {
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: all .3s;
}
.img-portofolio:hover {
    transform: scale(1.1);
    opacity: .7;
}
.more-portofolio {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 90px;
    color: white;
    z-index: 10;
}
.more-album {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 130px;
    color: white;
    z-index: 10;
}
.back-profile-meet {
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0;
    display: none;
}
@media screen and (max-width: 1199px) {
    .back-profile-meet {
        position: absolute;
        right: 0;
        z-index: 10;
        top: 0;
        display: inline-block;
    }
    .card-profile-meet {
        position: fixed;
        width: 50% !important;
        z-index: 100;
        right: -1000px;
        margin-top: 5rem !important;
        height: 87%;
        bottom: 0px !important;
        transition: all .3s;
        overflow-y: auto;
    }
    .card-profile-meet-show {
        right: 0 !important;
    }
}
@media screen and (max-width: 992px) {
    .button-calendar-add {
        height: 30px;
        bottom: 0 !important;
        margin-left: 10px;
        width: 80% !important;
        box-sizing: border-box;
        position: relative;
    }
    .card-profile-meet-show {
        right: 0 !important;
    }
    .card-profile-meet {
        position: fixed;
        width: 100% !important;
        z-index: 100;
        margin-top: 5rem !important;
        transition: all .3s;
        bottom: 0px !important;
        right: -1000px;
        height: 87%;
        overflow-y: auto;
    }
    .card-meet::after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        height: 10px;
        border-radius: 16px;
        background-color: #10458f;
    }
    .main-course {
        border-right: none !important;
    }
}

.jumbotron-course {
    width: 60%;
    height: 100%;
    background-color: #10458f;
    top: 0;
    background-image: url('../img/course/jumbotron.png');
    background-size: cover;
    right: 0;
}
.jumbotron-course .linear-course {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #1D69D6, rgba(7, 42, 124, 0.7));
}

.card-main-course {
    height: 320px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}
.cardCourse {
    background-color: #1DD693;
}
.card-submain-course:hover,
.card-main-course:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-submain-course {
    height: 150px;
    box-sizing: border-box;
    transition: all .3s;
    background-size: cover;
    background-position: center;
}
.main-course {
    border-right: 1px solid gainsboro;
}
.widget-course {
    position: absolute;
    bottom: 0;
    left: 0;
}
.menu-course-detail {
    width: 20% !important;
    z-index: 0;
    transition: all .3s;
    box-sizing: border-box;
}
.cover-course {
    background-size: cover;
    background-position: center;
}
.menu-course-detail ul li {
    cursor: pointer;
    transition: all .3s;
    background-color: transparent;
}
.menu-course-detail ul li:hover {
    background-color: gainsboro;
}
.widget-name-course {
    display: inline-block;
}
.toggle-menu-course {
    display: none;
    top: 100px;
    right: 20px;
}
@media screen and (max-width: 1199px) {
    .widget-name-course {
        display: none;
    }   
    .menu-course-detail ul li {
        text-align: center;
        padding: 18px 0 !important;
    }
    .menu-course-detail {
        left: -1000px;
    }
    .menu-course-detail-show {
        left: 0px;
    }
    .toggle-menu-course {
        display: inline-block;
        top: 100px;
        right: 20px;
    }
}
.card-main-article {
    height: 320px;
    transition: all .3s;
}
.card-other-article {
    transition: all .3s;
    height: 100px;
}
.img-article {
    background-size: cover;
    background-position: center;
    transition: all .3s;
    left: 0;
    top: 0;
}
.other-article {
    max-height: 435px;
    min-height: 435px;
    transition: all .3s;
    box-sizing: border-box;
    overflow-y: auto;
}
.o-article {
    box-sizing: border-box;
    transition: all .3s;
    box-shadow: 0px .25rem .5rem rgba(10, 10, 10, 0.1);
}
.o-article:hover {
    box-shadow: 0px .35rem .7rem rgba(10, 10, 10, 0.15);
    transform: translateY(-4px);
    cursor: pointer;
}
.o-article:hover .card-other-article {
    transform: translateY(-20px);
    box-shadow: 0px .5rem .7rem rgba(10, 10, 10, 0.15);
}
.card-main-article:hover .img-article {
    opacity: .7;
    transform: scale(1.05);
}
.img-jumbotron {
    opacity: .5;
}
.menu-news-widget {
    transition: all .3s;
    width: 50px;
}
.menu-news-point {
    width: 20%;
    transition: all .3s;
    overflow-y: auto;
    left: 50px;
}
.toggle-menu-news {
    transition: all .3s;
    display: none;
    right: 10px;
    top: 100px;
}
.menu-news-widget ul li {
    transition: all .3s;
    cursor: pointer;
}
.menu-news-widget ul li:hover {
    background-color: #10458f;    
}
.menu-news-point ul li {
    transition: all .3s;
    cursor: pointer;
}
.menu-news-point ul li:hover {
    background-color: gainsboro;    
}

@media screen and (max-width: 962px) {
    .menu-news-widget {
        width: 50px;
        left: -100px;
    }
    .menu-news-point {
        width: 50%;
        left: -1000px;
    }
    .menu-news-widget-show {
        transition: all .3s;
        left: 0px;
    }
    .menu-news-point-show {
        transition: all .3s;
        left: 50px;
    }
    .toggle-menu-news {
        display: inline-block;
    }
}

.card-category-shop {
    height: 150px;
    background-size: cover;
    background-position: center;
}
.card-img-main-shop {
    height: 450px;
    background-size: cover;
    background-position: center;
}
.card-img-other-shop {
    height: 100px;
    background-size: cover;
    background-position: center;
}
.shop-color ,.shop-size, #dropdown-location {
    background-color: rgb(245, 245, 245, 0.5);
    transition: all .3s;
}
.shop-color:hover, .shop-size:hover, #dropdown-location:hover {
    background-color: gainsboro;
    cursor: pointer;
}
.shop-color .color {
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.btn-quantity {
    width: 24px;
    height: 24px;
    border-radius: 24px;
}
.input-number-shop {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 60px;
}
.trigger-dropdown-location {
    width: 120% !important;
    z-index: 10;
}
.location-list {
    transition: all .3s;
}
.location-list:hover {
    background-color: gainsboro;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .trigger-dropdown-location {
        width: 100% !important;
    }   
}
@media screen and (max-width: 992px) {
    .card-img-main-shop {
        height: 300px;
        background-size: cover;
        background-position: center;
    }
}
.card-kupon-shop {
    height: 70px;
    cursor: pointer;
    line-height: 72px;
}
.animation-card-kupon {
    width: 40%;
    background-color: #a0c1ee;
    right: -30%;
    border-radius: 100rem;
    height: 40%;
    transition: all .3s;
    top: 30%;
}
.card-kupon-shop:hover .animation-card-kupon {
    width: 120%;
    background-color: #a0c1ee;
    right: -30%;
    border-radius: 100rem;
    height: 60%;
    top: 20%;
}
.profile-card-review {
    width: 40px;
    height: 40px;
}
.dropdown-review-toggle {
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.phone-number, .list-code {
    transition: all .3s;
}
.phone-number:hover, .list-code:hover {
    background-color: rgb(245, 245, 245, 0.5) !important;
    cursor: pointer;
}
.list-code-number {
    width: 90px;
    max-height: 100px;
    background-color: white;
    box-shadow: 0px .25rem .5rem rgba(0, 0, 0, 0.1);
    top: 65px;
    left: 10px;
    overflow-y: auto;
}
.profile-register {
    width: 65px;
    height: 65px;
}
.rect-top-register {
    width: 50%;
    left: -20%;
    height: 60%;
    opacity: .5;
    border-radius: 8rem;
    top: -20%;
}
.rect-bottom-register {
    width: 50%;
    right: -20%;
    height: 60%;
    opacity: .5;
    border-radius: 8rem;
    bottom: -20%;


.btn-regist {
    background-color: white;
    color: #999999;
    border: 1px solid #999999;
    transition: all .3s;
    cursor: pointer;
    padding: .7rem 1.4rem;
}
.btn-regist:hover {
    background-color: #999999;
    border: none;
    color: black;
    box-shadow: 0px .5rem 1rem rgba(10, 10, 10, 0.2);
}
.card-left{
    background: linear-gradient(196.78deg, rgba(29, 105, 214, 0.62) 11.58%, rgba(29, 214, 147, 0.53) 98.61%), url(../img/course/login.png);
    border-radius: 18px;
    background-size: cover;
    background-position:  center;
}

.btn-home{
    background-color: white;
    color: black;
    border: 1px solid #1D69D6;
    transition: all .3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: .5rem 2rem;
    border-radius: 10px;
}

.btn-home:hover{
    background-color:#1D69D6;
    color: white;
}

.justify-content-center{
    justify-content: center;
}
